#debugButton {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 2em;
}

#debugMenu {
  width: 300px;
  position: absolute;
  top: 40px;
  background-color: black;
  border: 1px solid gray;
  padding: 10px;
}

#debugMenu div {
  border-bottom: 1px solid gray;
}
